@media (min-width: 1024px) and (max-width: 1366px)
{   
    .sign-in 
    {
        margin: 0;
    }
    .sign-in a
    {
        padding: 13px 19px;
    }
    .Navbar
    {
       margin: 0;
    }
    .modal--above {
        top: 50%;
    }
    .anyTrailer-video {
        position: relative;
        display: none;
        top: 11%;
    }
}

/* Mobile & tablet */
@media (max-width:1023px){
    .Navbar
    {
        display: none;
    }
    .movie-item
    {
        margin-top: 24px;
    }
    .movie-old,
    .movie-new {
        margin: 0;
    }
    .movie-btn
    {
        margin-bottom: 24px;
    }
    .anyTrailer-play
    {
        display: none;
    }
    .anyTrailer
    {
        min-height: 900px;
    }

    .trailer-bg
    {
        min-height: 900px;
        background-size: cover;
    }

    .anyTrailer-video
    {
        margin-top: 24px;
        display: block;
    }
    .btn-menu span:last-child,
    .btn-menu span:first-child
    {
        font-size: 26px;
        color: #fff;
        padding-left: 17px;
    }
    .btn-menu span:first-child
    {
        display: block;
    }
    .ticket-heading-movie::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0px;
        right: 0;
        height: 2px;
        width: 100%;
        background: linear-gradient(rgb(222,79,123) 60%, rgb(234,145,173));
    }
    .ticket-heading-movie::after
    {
        left: 10px;
        width: 97%;
    }
    .ticket-slc-cinema::after
    {
        display: none;
    }
    .ticket-movie-list
    {
        margin-left: 24px;
    }
    footer
    {
        margin-top: 40px;
    }
    .second-line td:nth-child(2)
    {
        padding: 0;
    }
    .second-three td:nth-child(2)
    {
        padding: 0;
        width: 30%;
    }
    main
    {
        min-height: 0;
    }
}

/* Table */
@media (min-width: 740px) and (max-width: 1023px){
    footer {
        min-height: 0;
    }
    .modal--above
    {
        top: 36%;
    }
    .sign-in a
    {
        padding: 13px 32px;
    }
}

/* Mobile */
@media (max-width: 739px){
    .label h1
    {
        font-size: 22px;
        padding: 0 14px;
    }
    .search i
    {
        padding: 39px 10px;
    }
    .langue a
    {
        padding: 0 10px;
    }
    .sign-in a:first-child
    {
        display: none;
    }
    .sign-in a:last-child
    {
        font-size: 24px;
        color: #fff;
        padding: 12px 14px;
        display: block;
    }
    .btn-menu span:last-child,
    .btn-menu span:first-child
    {
        padding-left: 32px;
    }S
    .bottom--slc
    {
        width: 72%;
    }
    .movie-content
    {
        margin-top: 64px;
    }

    .movie-content
    {
        margin-bottom: 56px;
    }
    .selector-ad
    {
        min-height: 0;
    }
    .selector-item-1,
    .selector-item-2
    {
        min-height: 280px;
    }
    .modal--above
    {
        top: 38%;
        left: 46%;
    }
    footer{
        padding: 70px 18px 30px;
    }
    .type--btn
    {
        padding: 6px 8px;
    }
    td:nth-child(2) input
    {
        width: 36px;
    }
    .seat-font p
    {
        padding: 9px;
    }
    .seat-font
    {
        padding: 8px 3px 8px 0;
    }
    .date{
        width: 100%;
    }
}

