*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --height-header: 100px;
    --text-color: #ccc;
    --color-custom: linear-gradient(
        90deg, #ff55a5 0%, #ff5860 100%);
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(19,26,30);
}
/*HEADER*/
header
{
    background-color: #2b2b31;
    height: var(--height-header);
    width: 100%;
    box-shadow: 0 5px 18px #222;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

.edit-row
{
    align-items: center;
    justify-content: space-between;
}

.selector-hd-nv
{
    display: flex;
    align-items: center;
}

.label 
{
    background-color: rgb(40,40,45);
}

.label h1
{
    color: #fff;
    padding: 0 40px;
    line-height: var(--height-header);
}

.label h1 span
{   
    background: linear-gradient(
        90deg, #ff55a5 0%, #ff5860 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.Navbar 
{
    margin: 0 24px;
}

.Navbar-list 
{
    display: flex;
    list-style: none;
}

.Navbar-item
{
    position: relative;
}

.Navbar-item:nth-child(2) a
{
    color: #ff55a5;
}

.Navbar-item::before
{
    position: absolute;
    content: " ";
    top: 100%;
    left: 25px;
    width: 0;
    height: 3px;
    background: linear-gradient(
        90deg, #ff55a5 0%, #ff5860 100%);;
    transition: width 0.4s;
}

.Navbar-item:hover::before{
    width: calc(100% - 48px);
}

.Navbar-item a{
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    padding: 0 26px;
}
.menu-item a:hover,
.langue a:hover,
.Navbar-item a:hover
{
    color: rgb(222,79,142);
}

.selector-sr-sg
{
    display: flex;
    align-items: center;
}

.search{
    position: relative;
}

.search i
{
    font-size: 22px;
    color: var(--text-color);
    padding: 39px 20px;
}

.search i:hover
{
    color: #fff;
}
.search-edit
{
    position: relative;
}
.search-task
{   
    position: absolute;
    top: 100%;
    width: calc(100% - 24px);
    height: 40px;
    background-color: rgb(43,43,49);
    padding: 0 12px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #000;
    transform: translateY(-100%);
    opacity: 0;
    display: none;
    animation: search ease 0.5s;
}

.search-task input
{   
    background-color: rgb(43,43,49);
    width: 97%;
    height: 100%;
    outline: none;
    font-size: 18px;
    color: var(--text-color);
    border: none;
}

@keyframes search
{
    from
    {
        transform: translateY(-100%);
        opacity: 0.3;
    }
    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}
.search-close{
    width: 3%;
    position: absolute;
    top: 0%;
    right: 2px;
    padding: 12px;
    cursor: pointer;
}

.search-close i{
    color: #fff;
    font-size: 16px;
}

.langue a
{
    text-decoration: none;
    color: var(--text-color);
    padding: 0 28px;
}

.modal-sign-in,
.sign-in
{
    background: var(--color-custom);
    border-radius: 5px;
    margin-left: 20px;
    opacity: 0.85;
}
.modal-sign-in:hover,
.sign-in:hover
{
    opacity: 1;
}

.modal-sign-in a:first-child,
.sign-in a
{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 13px 33px;
    display: block;
}
.sign-in a:last-child
{
    display: none;
}

.btn-menu span{
    display: none;
}

/*MODAL SIGN IN*/
.modal
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    animation: faceModal ease 0.25s;
    display: none;
}
@keyframes faceModal
{
    from
    {
        transform: scale(0);
    }
    to
    {
        transform: 1;
    }
}

.modal-icon
{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 28px;
    color: rgb(148,143,136);
    z-index: 1;
    cursor: pointer;
}

.overlay-modal
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal--above 
{   
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(43,43,49);
    min-height: 400px;
    max-width: 340px;
    width: 340px;
    transform: translate(-50%, -50%);
}
.modal-form 
{
    text-align: center;
    background-color: rgb(40,40,45);
}

.modal-heading
{
    text-align: center;
}
.modal-infor-check,
.modal-infor
{
    margin: 0px 36px 0;
    color: var(--text-color);
}
.modal-infor-check,
.modal-infor:nth-child(4)
{
    text-align: left;
}
.modal-infor:nth-child(4) input
{
    text-align: left;
}
.skill input,
.modal-infor:nth-child(3) input,
.modal-infor:nth-child(2) input
{
    outline: none;
    width: 100%;
    height: 42px;
    margin: 12px 0;
    padding: 0 12px;
    font-size: 16px;
    background-color: rgb(43,43,49);
    color: var(--text-color);
    border: none;
}
.modal-sign-in
{
    display: inline-block;
    margin: 20px 36px 0;
    width: 79%;
}

.modal-sign-up
{
    margin: 16px 0;
}
.modal-sign-up span
{
    color: var(--text-color);
}
.modal-forgot a,
.modal-sign-up a
{ 
    background: var(--color-custom);
    -webkit-background-clip: text;
    color: transparent;
    padding-left: 2px;
}
.modal-forgot
{
    margin-bottom: 18px;
}

/* khuyến mãi */
.item1,
.item2,
.item3,
.item4 {
    width: 227px;
    margin-top: 10px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    max-height: 232px;
    line-height: 380px;
    background-color: white;
    margin-bottom: 20px;
    
}
.item1 {
    background-image: url(https://media.lottecinemavn.com/Media/Event/053607d5040947218bf2bb115ab963d5.jpg);
    background-repeat: no-repeat;
    
}
.content_promotion
{
    overflow: hidden;
}

.content_promotion p{
    padding-top: 20px;
    
}
.content_promotion a{
    text-decoration: none;
    padding-top: 20px;
}
.item2 {
    background-repeat: no-repeat;
    background-image: url(https://media.lottecinemavn.com/Media/Event/fe1ffcb8d51d44bb87e3dbe622569bb8.jpg);
}
.item3 {
    background-repeat: no-repeat;
    background-image: url(https://media.lottecinemavn.com/Media/Event/02bb5cf3d22f4073afee2886f410ce8b.jpg);
}
.item4{
    background-repeat: no-repeat;
    background-image: url(https://media.lottecinemavn.com/Media/Event/adf2b07f284f4fa9abf3c11e52513507.jpg);
}



#promotion {
    color: white;
    padding-top: 120px; 
}
.film{
    color: white;
    
}
.film1{
    background-image: url(https://media.lottecinemavn.com/Media/Event/1ac035baca0f43f6924c524c2c0f46c8.png);
    background-repeat: no-repeat;
}
.film2{
    background-image: url(https://media.lottecinemavn.com/Media/Event/5d2a3159113c496d928a3d64a303034a.png);
    background-repeat: no-repeat;
}
.film3{
    background-image: url(https://media.lottecinemavn.com/Media/Event/34da746b467c441491ce7f0229a72fc6.jpg);
    background-repeat: no-repeat;
}

.film4{
    background-image: url(https://media.lottecinemavn.com/Media/Event/7d2c025757b445f7a065cc7d626a07ee.png);
    background-repeat: no-repeat;
}

.film1,
.film2,
.film3,
.film4
{
    width: 227px;
    margin-top: 20px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    max-height: 232px;
    line-height: 380px;
    background-color: white;
}
.slider {
    padding-top: 64px;
    width: 100%;
    height: auto;
}
.QC{
    position: absolute;
    width: 140px;
    top: 122px;
    height: auto;
    margin-top: 120px;
    padding-left: 30px;
    text-align: right;
    position: fixed;
}
.QC2{
    position: absolute;
    top: 100px;
    right: 30px;
    width: 140px;
    height: auto;
    margin-top: 120px;
    padding-left: 30px;
    text-align: right;
    position: fixed;
}

/*footer*/
footer{
    min-height: 388px;
    position: relative;
    padding: 70px 0 30px;
    background-color: rgb(19,26,30);
    margin-top: 64px;
}
.down-list,
.Resources-list,
.legal-list,
.contact-list
{
   list-style: none;
}

.down-item h3,
.Resources-item h3,
.legal-item h3,
.contact-item h3
{
    color: #fff;
}

.Resources-item,
.legal-item,
.contact-item,
.down-item
{
    padding-bottom: 12px;
}

.Resources-item:nth-child(2),
.legal-item:nth-child(2),
.contact-item:nth-child(2),
.down-item:nth-child(2)
{
    padding-top: 14px;
}
.down-item img
{
    height: 50px;
    width: 142px;
}

.down-item:nth-child(2) img
{
    border-radius: 12px;
    border: 1px solid #ccc;
}

.legal-item a,
.contact-item a,
.Resources-item a
{
    text-decoration: none;
    color: var(--text-color);
}

.legal-item a:hover,
.contact-item a:hover,
.coppy-right a,
.Resources-item a:hover
{
    color: rgb(222,80,113);
}

.item--icon {
    font-size: 20px;
    padding: 0 8px;
    cursor: pointer;
    color: #ccc;
}

.coppy-right
{
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 64px;
}
.coppy-right p
{
    border-top: 1px solid var(--text-color);
    padding: 44px 0 0;
}
footer::after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background: var(--color-custom);
    height: 3px;
}

/*Menu*/
@keyframes sroll
{
    from
    {
        transform: translateX(100%);
    }
    to
    {
        transform: translateX(0);
    }
}
.menu
{
    position: fixed;
    top: var(--height-header);
    right: 0;
    bottom: 0;
    z-index: 100;
    animation: sroll ease 0.3s;
    display: none;
}

.menu::before{
    position: absolute;
    content: "";
    top: 2px;
    right: 0;
    background: var(--color-custom);
    height: 3px;
    width: 261px;
    z-index: 1;
}

.overlay-menu
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    animation: faceIn ease 0.4s;
    display: none;
}

.menu-right
{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(43,43,49);
    width: 262px;
    height: 100%;
}

.menu-list
{
    list-style: none;
    text-align: center;
    margin-top: 64px;
}

.menu-item a
{
    color: var(--text-color);
    font-size: 20px;
    padding: 18px 0;
    display: block;
    text-decoration: none;
}



